<div class="row">
	<div class="col-sm-2 col-sm-offset-5" id="welcome">
		<h1>Events</h1>
	</div>
</div>
<div class="row">
  <table class="col-sm-offset-1 table-hover table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Place</th>
        <th>Host</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Local Hack Day</td>
        <td>HackMTY</td>
        <td>Dev Meetup</td>
      </tr>
      <tr>
        <td>Tec de Monterrey</td>
        <td>Tec de Monterrey</td>
        <td>Cowork</td>
      </tr>
      <tr>
        <td>MLH</td>
        <td>ACM</td>
        <td>Disruptive Angels</td>
      </tr>
    </tbody>
  </table>
</div>