/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
	background-color: #f4e6d5;
}
.row, .container {
	background-color: #f4e6d5;
}

#welcome {
	margin-bottom: 40px;
	font-family: Verdana, Geneva, sans-serif;
}

th {
	background-color: #a2b5d0;
}
table {
	table-layout: fixed;
	width: 82%;
	margin-bottom: 20px;
}

tr, td {
	line-height: 55px;
   	min-height: 55px;
   	height: 55px;
   	font-size: 28px;
   	background-color: white;
}

.pic {
	text-align: center;
}

.link:hover {
	background-color: transparent;
    color: #34DDDD;
    text-decoration: none;
}

.forms {
	margin-left: 10%;
}

#head {
	height: 60px;
	margin: 0;
	background-color: #112e51;
	box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
}